doctype html
html(lang="de")
    head
        title="FIV Server"
        meta(charset="UTF8")
        meta(name="vieport" content="width=device-width, initial-scale=1.0")
    body.container
        header
            h1 Welcome #{anrede} #{name}